AutoUpdater/.vs/AutoUpdater/FileContentIndex/7fefc7b7-db3d-4725-a286-66d70b6b418a.vsidx
AutoUpdater/.vs/AutoUpdater/FileContentIndex/8da7d952-25e6-47c6-8101-0e49bddceee2.vsidx
AutoUpdater/.vs/AutoUpdater/FileContentIndex/66d50402-dc61-4329-8fc7-abcec36f6172.vsidx
AutoUpdater/.vs/AutoUpdater/FileContentIndex/694c648c-6978-4ebb-9903-096c7f8b47ca.vsidx
AutoUpdater/.vs/AutoUpdater/FileContentIndex/5099d79f-10af-4612-862e-29e8a5b2d658.vsidx
